<h1 class="text-center">Privacy Policy</h1>

<p> We comprehend that the subtleties you give us are
        private and individual. It's vital that you get a sense of safety at whatever
        point you or your data is associated with us. It's additionally pivotal that
        you see how we secure your privacy, just as how, when and where we may utilize
        your details. </p>

<p> Following is our
        obligation to you, on what our approaches towards your privacy are. You can be
        certain about the way that we are bound by the National Privacy Principles for
        the protection of personal information, as set out in the Privacy Act 1988. </p>

<h3>What do we mean by 'individual data' or personal information? </h3>

<p> Individual data implies any subtleties or assessment
        on you, from which your identity is clear, or your identity can be uncovered. </p>

<h3>For what reason do we gather your personal data?</h3>

<p>
        The principal reasons why we would gather individual
        data about you are: <br>
<ul>
        <li>
                To
                access your monetary and credit position when you apply for an item or services
                from us or from another financial organization where we represent you or act on
                behalf of you.
        </li>
        <li>
                To
                ensure your security when visiting our website and to realize which territories
                of the site are of most interest to you (see the segment 'treats' underneath).
        </li>
</ul>
</p>

<p> In both of these cases, we may utilize the data we
        accumulate to give focused on, and targeted items and services to you, through
        direct promoting and digital marketing. These immediate advertising offers, and
        advancements are intended to make your life simpler, not harder. So, on the off
        chance that you would prefer not to get them, just let us know when we reach
        you. </p>

<h3>How would we gather your personal information?</h3>

<p> Data gathered by <b>FinTop</b> is gathered by means of
        correspondence from you or your organization. This might be by means of the
        phone, Email, mail, fax or straightforwardly through our site. </p>

<p> Our goal is to always gather your data straightforwardly
        from you. On the off chance that for some valid justification, we can't do as
        such, we may include another association. For instance, we may have to demand a
        credit report from a credit announcing organization when you apply for a credit
        facility. Prior to doing as such or preceding gathering the data we need; we
        will illuminate you regarding the sort of associations we expect to unveil your
        own data to. </p>

<p> All correspondence may likewise be gathered and put
        away, especially as to deals, backing and records, including Email. </p>

<h3>For what reason will we disclose data to another association?</h3>

<p> We need to give our clients the absolute best products
        and services. Now and again, we may band together with another association to
        help the items and services we offer. In these circumstances, or to perform
        credit checks, we world share the personal data you have given us. </p>

<p> As you will appreciate, in specific conditions we
        might be constrained by law to unveil your own data to different specialists.
        For example, we might be needed under the Financial Transaction Reports Act to
        reveal subtleties of monetary exchanges and we may likewise be constrained
        under expense laws to give such data. This is to your advantage and encourages
        us to give the items and administrations you would anticipate from <b>FinTop</b>.
</p>

<h3>Whom will we unveil data to? </h3>

<p>
        Before we reveal any of your personal data to some
        other association, we will find a way to ensure that: <br>
<ul>
        <li>
                The
                association has a similar commitment as us to the assurance of your personal
                data.
        </li>
        <li>
                You
                have assented to us doing as such.
        </li>
</ul>
</p>

<p> By assent, we mean endorsement recorded as a hard
        copy, orally, or suggested from your dealings with us. </p>

<h3>How would we keep your data correct and recent? </h3>

<p> It is significant for us, and for you, that the data
        we hold is precise and current. In this, we depend on you to help us. We ask
        that you get in touch with us at whatever point there are any progressions to
        your own subtleties, so we can refresh our records. </p>

<h3>Admittance to your own data: </h3>

<p> The data we hold about you is yours to get to and
        right, and as such we can give you general data, for example, your name,
        address and contact subtleties without any problem. More nitty gritty data may
        not be simple for us to get to, and if required, a little expense might be
        charged for the expenses of recovering and providing the subtleties you need.
        This cycle may require up to 20 working days from your solicitation. In the
        event that you need to get to your itemized data, simply keep in touch with us
        at: </p>

<p><b>FinTop Mortgage & Finance  </b></p>

<p>
        <i>
                Unit 207, 111 Overton Rd, <br>
                Williams Landing, VIC, 3027
        </i>
</p>

<p> or email <a href="mailto:mail@fintop.com.au"> mail@fintop.com.au </a></p>

<h3>How long do we keep data about you? </h3>

<p> </p>

<p> By law, we are needed to hold certain data about you,
        even after you are not, at that point a client. Be that as it may, after such
        time you can be guaranteed we will decimate your personal data completely and
        securely. We may likewise hold certain data about you in the event that it is
        required for a reason which you know about or sensibly anticipate that us
        should hold the data. At the point when that data is not required, it will be
        crushed or forever de-distinguished. </p>

<p> </p>

<h3>How free from any and all harm is the data we hold about you? </h3>

<p> We take incredible consideration with the data we hold
        about you. Our point is to guarantee that any subtleties are safely shielded
        from abuse, misfortune, and unapproved access, adjustment or exposure. We will
        take sensible consideration to ensure that we keep your data in a precise,
        complete and exceptional way. At the point when that data is not, at this point
        required, it will be forever obliterated or de-distinguished. </p>

<h3>Online security</h3>

<p> Our site utilizes encryption strategies to improve
        your protection and security on the Web. </p>

<p> At the point when you enter delicate data, (for
        example, credit or debit card numbers) on our site, we scramble that data
        utilizing secure socket layer technology (SSL).
        At the point when Visa subtleties are gathered, we just pass them on to be
        prepared as required. We never permanently store total Charge card subtleties. </p>

<p> We adhere to commonly acknowledged industry principles
        to secure the individual data submitted to us, both during transmission and
        once we get it. </p>

<p> What are cookies or treat and how would they work? cookies
        are little information documents that are downloaded from our web workers and
        put away on your hard drive. A treat is a series of letters and numbers that
        exceptionally recognize the PC you are utilizing, and the client number and
        access code you may have used to enroll at the site. </p>

<p> Cookies are utilized on the <b>FinTop</b> site. We
        track a guest's excursion through our site. This permits us to see initially
        which pages and data is of most interest to guests. This kind of treat contains
        no close to home data by any stretch of the imagination, essentially a record
        of your excursion through the site. Most programs can be arranged to decline to
        acknowledge treats. You can likewise erase treats from your hard drive. Be that
        as it may, doing so may impede your admittance to significant regions of data
        inside our site. </p>

<p> On the off chance that you have any inquiries
        regarding security on our Site, you can email us at <a href="mailto:mail@fintop.com.au">mail@fintop.com.au </a></p>

<h3>Online transaction security strategy </h3>

<p><b>FinTop Mortgage & Finance</b>
         uses the <b>Stripe</b> Payment gateway for its online transactions. </p>

<p>
        Stripe processes online credit card exchanges for a
        large number of Australian vendors, giving a free from any and all harm methods
        for gathering installments through the Web. <br>
<ul>
        <li>
                All
                online Visa exchanges performed on this website utilizing the Stripe gateway
                are made sure about installments.
        </li>
        <li>
                Payments
                are completely computerized with a quick reaction.
        </li>
        <li>
                Your
                complete Visa number can't be seen by <b>FinTop</b> or any external gathering.
        </li>
        <li>
                All
                exchanges are performed under 128 Bit SSL Endorsement.
        </li>
        <li>
                All
                exchange information is encoded for capacity inside <b>Stripe's</b> bank-grade
                server farm, further ensuring your Visa information.
        </li>
</ul>
</p>

<p><b>Stripe </b>is an approved
        outsider processor for all the significant Australian banks. </p>

<p><b>Stripe </b>at no time
        contacts your assets; all monies are straightforwardly moved from your card to
        the vendor account held by <b>FinTop</b>. </p>

<p> For more details about Stripe and online card
        installments, visit <a href="https://stripe.com/en-au"> https://stripe.com/en-au </a> </p>

<p> </p>

<h3>Web based promoting we use:</h3>

<p> We may utilize different remarketing/retargeting and
        conduct focusing on administrations and apparatuses to advance our business and
        website <a href="https://fintop.com.au"> https://fintop.com.au </a> across
        the Web. Remarketing devices by and large, will show important promotions
        custom fitted to you dependent on what parts of our site you have seen by
        setting a treat/cookie on your gadget. This treat doesn't in at any rate
        recognize or offer admittance to your PC. The treat is utilized to state
        &quot;This individual visited this page, so show them promotions identifying
        with that page.&quot; These Remarketing instruments permit us to tailor our
        advertising to all the more likely suit your requirements and just present
        advertisements that are applicable to you. </p>

<p> You can quit of interest-based publicizing here:
        http://www.networkadvertising.org/decisions/ </p>

<h3>In the event that you have a protest with respect to security:</h3>

<p> We esteem our clients. We will consistently intend to
        be reasonable and responsive. In the event that you have an objection, you
        reserve the privilege to expect that we will deal with it in a well-disposed
        and expert manner. At the point when we receive an objection, we look on it as
        significant input that may assist us with improving the services we offer and
        to guarantee your requirements are met in an acceptable and proper way. On the
        off chance that you wish to whine, whenever, about the dealing with, use or
        exposure of your personal data, simply get in touch with us at the accompanying
        location: </p>

<p> FinTop Mortgage & Finance  </p>

<p>
        <i>
                Unit 207, 111 Overton Rd, <br>

                Williams Landing, VIC, 3027 <br>

                or email <a href="mailto:mail@fintop.com.au"> mail@fintop.com.au </a>
        </i>
</p>

<p> We will put forth all attempts conceivable to examine
        your objection, and advise you concerning the result as quickly as time
        permits. On the off chance that the issue isn't resolved agreeable to you, you
        would then be able to allude your objection to the Victorian Information
        Commissioner who can be reached at: </p>

<p> Office of the Victorian Information Commissioner </p>

<p> PO Box 24274 </p>

<p> Melbourne VIC 3001 </p>

<h3>Direct showcasing/marketing offers and data:</h3>

<p> The subtleties you give us might be utilized to
        educate you about any extraordinary offers we think will hold any importance
        with you, and to refresh you on new items and administrations or changes to our
        site. We may likewise send you subtleties of offers or administrations given by
        our colleagues and related FinTop elements. You may whenever decide not to get
        these interchanges. Doing so won't cost you anything, and we will intend to
        guarantee you quit accepting any undesirable interchanges as quickly as time
        permits. </p>

<h3>Revelation to different nations:</h3>

<p> Individual data may be revealed to our offshore
        organization Skills Lagoon Trainings Pvt. Ltd. situated in India. Your personal
        data may be uncovered for the reason for which it was revealed to us or related
        purposes which would sensibly be normal without your consent. For instance, we
        may utilize and uncover individual data to handle applications, review
        applications, speak with you and manage any objections or enquiries. We find a
        ways to secure your own data against abuse or misfortune. </p>

<h3> Conforming to EU General Information Assurance Guideline
        (GDPR) : </h3>

<p> We routinely offer types of assistance to borrowers
        that live and work in European Association (EU) countries. These borrowers can
        be both EU residents and Australian expats. Your protection is critical to us,
        so to meet our consistence prerequisites under the GDPR, we need you to know
        about how your information will be utilized and how you will be given the
        choice to pick in or quit. </p>

<h3>Your privileges and choices under GDPR:</h3>

<p> Right of Access – the option to be educated regarding
        and solicitation admittance to the individual information we measure about you; </p>

<p> Right to Correction – the option to demand that we
        revise or update your personal information where it is mistaken or inadequate; </p>

<p> Right to Eradication – the option to demand that we
        erase your personal information. Note that where this correct clashes with
        Australian enactment in regards with appropriate record keeping of applications
        for the loans then we won't eradicate your information. For instance, the <b>National
        </b><i>Consumer Credit Protection Act 2009 (NCCP ACT)</i> requires mortgage
        brokers to hold records of the proposals we have made; </p>

<p> Option to Confine – the option to demand that we
        incidentally or for all time quit preparing all or a portion of your personal
        information ; </p>

<p> Option to object – the right, whenever, to have a
        problem with us preparing your personal information on grounds identifying with
        your specific circumstance; the option to protest your own information being
        handled for direct marketing purposes; </p>

<p> Right to Information Compactness – the option to
        demand a duplicate of your own information in electronic configuration and the
        option to communicate that individual information for use in another
        gathering's administration; and </p>

<p> Right not to be liable to Computerized Decisioning –
        the option to not be dependent upon a choice dependent on mechanized dynamic,
        including profiling, where the choice would legally affect you or produce a
        comparatively critical impact. </p>

<h3>What information is being gathered when you visit our site?</h3>

<p> At the point when you visit our site, our backend code
        may permit us to remarket and retarget to you through internet publicizing and
        email showcasing. </p>

<p> A portion of these remarketing instruments permit us
        to tailor our advertising to all the more likely suit your necessities and just
        presentation promotions that are pertinent to you. </p>

<h3>What information is being gathered when you make an enquiry? :</h3>

<p> At the point when you complete our online enquiry
        structure, you will be approached to give your first name, last name, email
        address and contact telephone number to finish your enquiry. </p>

<p> The data will be utilized to remain in contact with
        you as your circumstance is surveyed by our home loan writers and you decide to
        present a home advance application and, in the end, arrive at settlement. Past
        settlement, your own data will be utilized by our Client Support group to remain
        in contact with you to guarantee that your home loan is working well, to
        address any inquiries you have, to help make changes to your home advance, to
        give you tips and assets, to finish a home loan analysis at end of your first
        year since your home loan agreement, and to help you refinance your mortgage,
        should you decide to do as such. </p>

<p> In the event that you decide not to continue with us,
        your personal data might be utilized for showcasing, remarketing and
        retargeting purposes by means of internet promoting and email advertising. You
        will have the choice to agree to the utilization of your personal data for
        showcasing purposes prior to presenting your enquiry with us. </p>

<h3>What is the lawful reason for preparing the information?</h3>

<p> By law, we are needed to hold certain data about you,
        even after you are not, at this point a client. </p>

<p> In particular, the <i>National Consumer Credit
                Protection Act 2009 (NCCP ACT)</i> requires contract specialists to hold
        records of the proposals we have made. </p>

<h3>Will the information be imparted to any outsiders?</h3>

<p> We need to give our clients the absolute best items
        and administrations. On occasion, we may join forces with another association
        to help the items and administrations we offer. In these circumstances, or to
        perform credit checks, we may need to share the individual data you have given
        us. </p>

<p> On the off chance that you do make enquiry with us, any
        personal information gathered on this structure will be sent to our India
        office for handling and will likewise be put away in the cloud storage. Tough
        methods guarantee that your personal information is secured consistently. </p>

<p> The data is needed to permit us to help you in setting
        up the credit application, to perform data analysis for finding the appropriate
        bank and loan product suitable to your circumstances. In the event that the
        data isn't given, we will most likely be unable to locate a proper advance for
        you. </p>

<p> We may utilize your data to give you offers or information
        of different products or administrations that we or an authorized business
        partner might have the option to furnish you with, except if you reveal to us
        not to utilize your personal data for this reason recorded as a hard copy. </p>

<p> The sorts of associations we may unveil your data to
        include: </p>

<p> ·
        Lenders,
        contract guarantors and insurers, valuers, our aggregator, deposit bond
        suppliers, associated insurance agencies and other home loan mediators; </p>

<p> ·
        Credit
        revealing offices, </p>

<p> ·
        Government
        associations as legally necessary </p>

<p> ·
        Other
        associations which help us, (for example, printers, mailing houses, legal
        advisors, obligation gatherers and bookkeepers); </p>

<p> ·
        Your
        named consultants, (for example, your specialist, conveyancer, bookkeeper or
        realtor) </p>

<p> ·
        Your
        accomplice, guarantor(s) or any people following up for your benefit. </p>

<p> Except if you reveal to us else, we may disclose your
        data to any individual who is following up for your sake, with your lawful
        power, or who is implying to act with your legitimate position. What's more, we
        may unveil your own data to whatever other association that may wish to, or has
        gained, an interest in your advance or in our business. </p>

<p> We may likewise contact different associations that
        have data about you and your related organizations in order to acquire the data
        we need to offer our types of assistance. The kinds of associations we may
        gather your data from include: </p>

<p> ·
        Employers,
        (for example, business affirmation or a work letter) </p>

<p> ·
        Accountants,
        (for example, affirmation on your financials or a bookkeepers letter) </p>

<p> ·
        Solicitors
        or conveyancers </p>

<p> ·
        Credit
        revealing offices, (for example, Equifax) </p>

<p> ·
        Any
        other association that has data about you which we need to offer our types of
        assistance. </p>

<p> As you will appreciate, in specific conditions we
        might be constrained by law to reveal your personal data to different
        specialists. For example, we might be needed under the <i>Financial Transaction
                Reports Act</i> to unveil subtleties of monetary exchanges and we may likewise
        be constrained under expense laws to give such data. This is to your advantage
        and encourages us to give the items and administrations you would anticipate
        from <b>FinTop</b>. </p>

<h3>How long will the information be put away for? </h3>

<p> The individual information determined above will be
        kept until such time that you demand that your own information be erased. </p>

<p> Cookies and pixels will keep on following you until
        such time that you decide to quit, which you can decide to do here: http://www.networkadvertising.org/choices/ </p>

<p> Your information will be stored with us for at least 7
        years after the date that your home loan is repaid. In the event that you visit
        our website without applying for a loan, at that point your information will be
        kept for up to a limit of 180 days. In the event that you join on our site your
        information will be kept with us except if you quit the platform. </p>

<p> For administrative reasons, loan writers are needed to
        hold client data for at least seven years after your mortgage settles. </p>

<p> This is necessity under the <i>National Consumer
                Credit Protection Act 2009 (NCCP Act)</i> and incorporates: </p>

<p> ·
        Original,
        marked Finance Broking Agreement (for example keep the first and give a
        duplicate to the customer) </p>

<p> ·
        details
        of your monetary and individual conditions </p>

<p> ·
        details
        of the reasoning behind the choice of credit items offered, and </p>

<p> ·
        all
        messages and correspondence between you, your loan writer and the moneylender
        to whom applications have been made. </p>

<h3>How could the information subject raise an objection? </h3>

<p> We esteem our clients. We will consistently expect to
        be reasonable and responsive. In the event that you have an objection, you
        reserve the option to expect that we will deal with it in an amicable and
        expert manner. At the point when we get a grumbling feedback, we look on it as
        important criticism that may assist us with improving the administrations we
        offer and to guarantee your necessities are met in a good and fitting way. On
        the off chance that you wish to whine, whenever, about the dealing with, use or
        exposure of your personal data, simply keep in touch with us at the
        accompanying location: </p>

<p><b> FinTop Mortgage & Finance  </b></p>

<p>
        <i>
                Unit 207, 111 Overton Rd, <br>

                Williams Landing, VIC, 3027 <br>

                or email <a href="mailto:mail@fintop.com.au"> mail@fintop.com.au </a>
        </i>
</p>

<p> We will put forth all attempts conceivable to research
        your complaint and inform you of the outcome at the earliest. On the off chance
        that the issue isn't made plans agreeable to you, you would then be able to
        allude your grumbling to the Victorian Information Commissioner, who can be
        reached at: </p>

<p> Office of the Victorian Information Commissioner </p>

<p> PO Box 24274 </p>

<p> Melbourne VIC 3001 </p>

<h3>Ownership</h3>

<p> This site and <b>FinTop Mortgage & Finance</b> platform are the property of Bhalekar Pty Ltd (ABN 22 642 063 385). We are a 100% Australian privately owned business. </p>

<h3>More information</h3>

<p> You can demand additional data about the manner in
        which we deal with the personal data that we hold by writing to: </p>

<p><b> FinTop Mortgage & Finance  </b></p>

<p>
        <i>
                Unit 207, 111 Overton Rd, <br>

                Williams Landing, VIC, 3027 <br>

                or email <a href="mailto:mail@fintop.com.au"> mail@fintop.com.au </a>
        </i>
</p>