{% extends 'layouts/home.html' %} 
{% block title %} Home Loan {% endblock title %} 
{% block content %} 
{% load static %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="/">Home</a></li>
            <li>Home Loan</li>
        </ol>
        <h2>Home Loan</h2>

    </div>
</section>
<!-- End Breadcrumbs -->

<section class="home_loan">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>First Home Buyers</h2>
                <p>
                    The initial footsteps to buying a home are always the most challenging. At FinTop we enjoy the
                    opportunity to help a first home buyer with their property purchase. It is an exciting but often
                    nerve wracking time for you so it helps to have someone there
                    to bounce ideas off and get guidance from.
                </p>
            </div>
            <div class="col-12 mb-3">
                <h2>FinTop Team will:</h2>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i> Work with you to determine your needs.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Take you through the process of obtaining pre-approval and
                        outline the steps involved in purchasing a property.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Handle all the paperwork and keep you fully informed at
                        every stage.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Be on hand to assist with tips on negotiating with agents,
                        buying at auction and, in consultation with your legal representative, help you with the
                        contracts that need to be signed.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Manage deadlines including valuations, finance dates and
                        settlement.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Free property reports.
                    </li>
                </ul>
            </div>
            <div class="col-12 mb-3">
                <h2>First Home Owner Grant</h2>
                <p>
                    In conjunction with the lender, FinTop Mortgage Consultant will facilitate the First Home Owner
                    Grant application for you.
                </p>
            </div>
            <div class="col-12 mb-3">
                <h2>Property Investment</h2>
                <p>We have expertise to help investor clients for properly structure their lending. Enquire now to
                    receive the benefit of our expertise. Let us project manage the finance for your next investment
                    property.</p>
                <h5>Investment Property Loans</h5>
                <p>
                    Have you reached a standstill growing your investment property portfolio? Have you outgrown your
                    current lender? Are you fed up with dealing with the banks on your own? FinTop’s Mortgage Team is
                    here to assist you:
                </p>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i> By managing the entire process keeping you informed every
                        step of the way.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Determine an appropriate loan structure.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Discuss interest only vs principal and interest repayments.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Only offer the lender the minimum amount of collateral
                        security.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Employ a strategy to minimise any mortgage insurance that
                        may be payable.
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Review your entire lending portfolio as often as you wish
                        which lender does that?
                    </li>
                </ul>
            </div>
            <div class="col-12 mb-3">
                <h2>Moving Home Mortgages</h2>
                <p>FinTop Team can help you be thoroughly prepared to move home by arranging a pre-approval first so you
                    can sell and buy again with confidence. We can help clients through the process of selling and
                    buying again.</p>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i> Determine the new loan amount you will need including
                        agents fees and paying out your old mortgage
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Help you select the most competitive, suitable products
                        from our extensive panel of lenders
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Take you through bridging finance if you choose to buy
                        before you sell
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Handle all the paperwork and keep you fully informed
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Manage deadlines including valuations and settlement
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Review your home loan regularly and as often as you wish to
                        check it is still competitive and that it continues to meet your needs
                    </li>
                </ul>
            </div>
            <div class="col-12 mb-3">
                <h2>Refinance</h2>
                <p>Does the thought of having to handle a refinance on your own send a shiver down your spine? How does
                    it work? Have you thought about the new payment coinciding with your pay dates? Are you moving to a
                    lower interest rate but taking another
                    30yr loan term by accident? We have thought about that so you don’t have to!</p>
                <p>Refinancing a home loan can be a tricky business so it pays to have someone working behind the scenes
                    to make sure the process is smooth.</p>
                <p>Our Team will:</p>
                <ul>
                    <li>
                        <i class="ri-check-double-line"></i> Work with you to determine your needs
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Help you select the most competitive, suitable products
                        from our extensive panel of lenders
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Handle all the paperwork and keep you fully informed
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Manage deadlines including valuations and settlement
                    </li>
                    <li>
                        <i class="ri-check-double-line"></i> Review your loan regularly and as often as you wish to
                        check it is still competitive and that it continues to meet your needs
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

{% endblock content %} {% block javascript %}
<script>
    $(function () {
        $('#nav-home_loan').addClass('active');
    });
</script>
{% endblock javascript %}